/* font bg*/
.font-bg {
    background-color: #313A45;
    color: #FFFFFF;
}

/* font bg*/
.font-bg2 {
    background-color: #FFFFFF;
    color: #000;
}

/* slide */
.carousel-inner img {
    width: 100%;
    height: 100%;

}

/*line*/
hr.style2{
    border-top: 2px solid #313A45;
/*border-top: 1px dashed #8c8b8b;*/
}

/*mini-slide*/
.special-slide{
    height: 250px;
}

/*line*/
hr.style5 {
	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}

/*line*/
hr.style11 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}



.xcontainer {
  position: relative;
  width: 50%;
}

.ximage {
  display: block;
  width: 100%;
  height: auto;
}

.xoverlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.xcontainer:hover .xoverlay {
  bottom: 0;
  height: 100%;
}

.xtext {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

p.round2 {
    border: 2px solid black ;
    border-radius: 8px;
}